:root {
  --exercises_rows: 2;
}

body {
  max-width: 100% !important;
}

fieldset {
  border: none !important;
  display: flex !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.no-margin{
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.pages {
  grid-column: 1 / 4;
}
.selected_exercises {
  display: grid;
  grid-template-columns: repeat(var(--exercises_rows), 1fr);
  font-size: 12px;
}

.selected_exercises .cell {
}

.exercises {
  margin-left: 20px;
}

.exercise_list_item {
  padding: 10px;
}

.selected {
  background-color: darkgray;
  color: #303030;
}

.exercise-config {
  display: flex;
  flex-wrap: wrap;
}

.options {
  display: flex;
}
.border {
  border: 1px solid #303030;
}

.portrait {

}

.landscape {

}

.cols-1 {

}

.portrait .cols-2 {
  height: 320px;
  max-height: 320px
}

.cols-3 {

}

.cols-4 {

}

.instructions {

}

@media print {
  .container {
    width: 100%;
    display: block;
  }

  .selected_exercises {
    width: 100%;
  }

  .exercises {

  }

  .hide_on_print {
    display: none;
  }

  @page {
    margin: 1cm;
  }

  /* target left (even-numbered) pages only */
  @page :left {
    margin-right: 1cm;
  }

  /* target right (odd-numbered) pages only */
  @page :right {
    margin-left: 1cm;
  }
}