:root {
  --exercises_rows: 2;
}

body {
  max-width: 100% !important;
}

.remove_border {
  border: none !important;
}

.hide {
  display: none;
}

.no-margin{
  margin: 0;
}

.container {

}

.exercises {

}


.portrait {

}

.landscape {

}

#perform_routine {
  display: flex;
}

#perform_routine .exercise_list {
  padding-left: 15px;
  width: 20vw;
}

#restExercise {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#perform_exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 80vw;
}

#perform_exercise .exercise_img {
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#perform_exercise header {
  text-align: center;
}

#perform_exercise .exercise_img img {
  max-width: 80vw;
  object-fit: contain;
}

#perform_exercise .exercise_actions {
  margin-top: 25px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.thumbnail {
  height: 100px;
  width: 100px;
  margin-right: 25px;
  display: flex;
  align-items: center;

}

.thumbnail img {
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
}

#start_routine {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.exercise_list {
  padding: 0;
}

.exercise_row {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 2px solid #F0F0F0;
}

.exercise_row.active {
  background-color: #FAFAFA;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .exercises {

  }

  #perform_routine .exercise_list {
    display: none;
  }

  #perform_exercise {
    width: 100vw;
  }

  #perform_exercise .exercise_img {
    width: 80vw;
  }
}