:root {
  --exercises_rows: 2;
  --primary-color: rgb(135, 203, 185);
  --secondary-color: rgb(86, 157, 170);
  --tertiary-color: rgb(185, 237, 221);
  --accent-color: rgb(87, 125, 134);

  --hover-bg-color: var(--secondary-color);
  --hover-font-color: white;

  --selected-bg: var(--accent-color);
  --selected-color: white;
}

body {
  max-width: 100% !important;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  background-color: #FAFAFA;
}

button, select {
    border: none;
    height: 40px;
    padding: 10px;
    box-shadow: 2px 1px 2px 1px rgb(0 0 0 / 20%);
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: var(--secondary-color);
  color: white;
}


.remove_border {
  border: none !important;
}

.hide {
  display: none;
}

.no-margin{
  margin: 0;
}

.container {

}

.exercises {

}


.portrait {

}

.landscape {

}

#perform_routine {
  display: flex;
}

#perform_routine .exercise_list {
  padding-left: 15px;
  width: 20vw;
}

#restExercise {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#perform_exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 80vw;
}


#perform_exercise .exercise_img {
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#perform_exercise header {
  text-align: center;
}

#perform_exercise .exercise_img img {
  max-width: 80vw;
  object-fit: contain;
}

#perform_exercise .exercise_actions {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.finish-routine {
  margin-top: 15px;
  margin-bottom: 15px;
}

.thumbnail {
  height: 100px;
  width: 100px;
  margin-right: 25px;
  display: flex;
  align-items: center;

}

.thumbnail img {
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
}

#start_routine {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#end_routine {
  display: grid;
  justify-content: center;
}

.exercise_list {
  padding: 0;
}

.exercise_row {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 2px solid #F0F0F0;
}

.exercise_row.active {
  background-color: var(--selected-bg);
  color: #FAFAFA;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .exercises {

  }

  #restExercise {
    height: 100vh;
    width: 100vw;
  }

  #perform_routine .exercise_list {
    display: none;
  }

  #perform_exercise {
    width: 100vw;
  }

  #perform_exercise .exercise_img {
    width: 80vw;
  }
}