:root {
  --exercises_rows: 2;
}

body {
  max-width: 100% !important;
}

.fieldset_remove_decoration {
  border: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.remove_border {
  border: none !important;
}

.hide {
  display: none;
}

.no-margin{
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.pages {
  grid-column: 1 / 4;
}
.selected_exercises {
  display: grid;
  grid-template-columns: repeat(var(--exercises_rows), 1fr);
  font-size: 12px;
}

.selected_exercises .cell {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercises {
  margin-left: 20px;
}

.exercise_list_item {
  padding: 10px;
}

.recommendations, .notes {
  display: none;
}

.selected {
  background-color: darkgray;
  color: #303030;
}

.exercise-config {
  display: flex;
  flex-wrap: wrap;
}

.align_baseline_elements {
  display: flex !important;
  align-items: baseline;
  justify-content: space-between;
}

.resize_vertical {
  resize: vertical;
}

#notesEditor {
  width: 100%;
}

.instructions {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.instructions .image {
  height: 120px;
  width: 200px;
  display: flex;
  grid-column: 1;
  justify-content: center;
  align-self: center;
}

.instructions > ul {
  grid-column: 2 / 5;
}

.instructions .image img {
  max-height: 100%;
  max-width: 100%;
}

.options {
  display: flex;
}
.border {
  border: 1px solid #303030;
}

.portrait {

}

.landscape {

}

.cols-1 {

}

.portrait .cols-2 {
  height: 320px;
  max-height: 320px
}

.cols-3 {

}

.cols-4 {

}

.instructions {

}

input:invalid {
  border: solid red 3px;
}

fieldset label {
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  .options {
    flex-wrap: wrap-reverse;
  }

  .pages {
    grid-column: 1 / 5;
  }
  .exercises {
    grid-column: 1 / 5;
    margin-left: 0;
    margin-top: 25px;
  }
}

@media print {
  .container {
    width: 100%;
    display: block;
  }

  .selected_exercises {
    width: 100%;
  }

  .selected_exercises .cell {
    break-inside: avoid;
  }

  .exercises {

  }
  .notes {
    display: block;
  }
  .recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .hide_on_print {
    display: none;
  }

  @page {
    margin: 1cm;
  }

  /* target left (even-numbered) pages only */
  @page :left {
    margin-right: 1cm;
  }

  /* target right (odd-numbered) pages only */
  @page :right {
    margin-left: 1cm;
  }
}